.slide {
    overflow-y: hidden !important;
    transition: height 0.5s ease-in !important;
}

.nav ul {
    display: flex;
    justify-content: flex-end;
    padding: 1em 0;
    list-style: none;
}

.nav ul li {
    padding: 0 1em;
}



@keyframes colorChange {
    0% { background-color: #ff0000; }
    10% { background-color: #c8ff00; }
    20% { background-color: #00ff40; }
    30% { background-color: #00ffea; }
    40% { background-color: #1900ff; }
    50% { background-color: #cc00ff; }
    60% { background-color: #6201ff; }
    70% { background-color: #00eeff; }
    80% { background-color: #00ff66; }
    90% { background-color: #d0ff00; }
    100% { background-color: #ff1900; }
}


.nav a, .nav-toggle {
    color: #000000;
    text-decoration: none;
    animation: colorChange 100s infinite;
}

.nav-toggle {
    display: none;
}

@media (max-width: 767px) {
    .header {
        flex-direction: column;
    }

    .nav ul {
        flex-direction: column;
        padding-bottom: 1em;
    }

    .nav ul li {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .nav ul li a {
        display: block;
        padding: 0.5em 0;
    }

    .js .nav-toggle {
        display: block;
        float: right;
        width: 2em;
        margin: 0.6667em 0;
        font-size: 1.5rem;
        line-height: 2em;
        text-align: center;
        cursor: pointer;
    }
}
